@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    font-family: Karla;
}

.book-wrap {
    text-align: center;
    height: 100%;
    margin: auto;
    width: 980px;
}

.sourcebook-page {
    /*height: 100%;*/
    display: block;
    position: relative;
}

.sourcebook-row {

}

.sourcebook-page-header {
    margin: 15px 0 35px 0;
}

.sourcebook-page-header-logo {
    margin: 0 0 25px 0;
}

.catalogue-title {
    width: 100%;
    text-align: center;
    line-height: 28px;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 5px;
    font-size: 20px;
}

.sourcebookcard {
    width: 200px;
    min-height: 192px;
    margin: 10px 10px;
    display: inline-block;
}

.sourcebookcard-img-wrap {
    /*width: 80%;*/
    height: 150px;
    overflow: hidden;
}

img.sourcebookcard-img {
    width: 100%;
    height: auto;
}

.sourcebookcard-text-wrap {
    line-height: 16px;
    text-align: left;
    margin: 10px 0 0 0;
}

.sourcebookcard-code {
    font-size: 14px !important;
}

.sourcebookcard-text-wrap div {
    font-size: 10px;
}

@page {
    size: A4 portrait;
}

@media print {
    .sourcebook-page {
        /*height: 100%;*/
        page-break-after: always;
    }

    .page-footer {
        position: relative;
        /*top: -10px;*/
        height: 10px;
        /*right: 10px;*/

        /*position: absolute;*/
        /*bottom: 10px;*/
        /*right: 10px;*/
    }

    .page-footer > .page-number {
        position: absolute;
        right: 0;
    }
}


.modal-75w.modal-dialog {
    max-width: 75%;
}

/*.catalogue-wrap {*/
/*    display: table;*/
/*    margin: auto;*/
/*}*/


/* Inserting this collapsed row between two flex items will make
 * the flex item that comes after it break to a new row */
/*.flex-break {*/
/*    flex-basis: 100%;*/
/*    height: 0;*/
/*}*/

/*.page-break-after {*/
/*    page-break-after: always;*/
/*}*/