.dataTable {
	font-size: 15px!important;
}

.fs-small {
  font-size: 0.9em;
}

div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {
  box-shadow: inset 5px 1px 20px rgba(191, 172, 2, 0.7);
}

div.dt-button-collection {
  width :260px!important;
	background: rgb(191, 172, 2);
    border: none;
    border-radius: unset;
}

button.dt-button, div.dt-button, a.dt-button {
	padding: 0.5em 0.5em !important;
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
	    text-transform: uppercase;
	font-family: 'Karla', sans-serif;

}

button.dt-button.active:hover:not(.disabled), button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    background-image: none!important;
	    background: #AD9C03!important;
    border: 1px solid white;
}
div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled),
button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled), div.dt-button:active:not(.disabled), div.dt-button.active:not(.disabled), a.dt-button:active:not(.disabled), a.dt-button.active:not(.disabled) {
	background-color:transparent;
	background-image:none;
	    border: 1px solid white;
}

button.dt-button.disabled, div.dt-button.disabled, a.dt-button.disabled {
	    border: none;
    background: transparent;
    color: white;
    text-decoration: line-through;
}

.dataTables_scrollBody {
  background: white;
}

.dataTables_filter > label > input, .dataTables_length > label > select {
  border: none;
  background-color: transparent;
}

.dataTables_filter > label > input {
  border-bottom: 1px dotted #bfac02;
}

tr.even td.sorting_1, tr.odd td.sorting_1 {
  background-color: transparent !important;
}

table.dataTable tbody td.select-checkbox:before, table.dataTable tbody td.select-checkbox:after, table.dataTable tbody th.select-checkbox:before, table.dataTable tbody th.select-checkbox:after {
    display: block;
    position: absolute;
    top: inherit;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-position: center left;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
  padding: 4px 4px 4px 20px;
}

div.dt-button-background {
	position: relative;
}


	.dataTables_wrapper  .input-group {
		border-bottom: 1px dotted #bfac02!important;; box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
		
	}
	.dataTables_wrapper  .input-group-text {
		background-color: transparent;
    border: none;
    font-size: 30px;
	}
	.dataTables_filter {
		padding:0!important;
		
	}
	.dataTables_filter label {
		margin:0;
		width:100%;
	}
	.dataTables_filter label input {
    border-radius: 4px;
    color: black;
    background-color: transparent!important;
    border: none!important;
    font-size: 3rem!important;
    height: 100%;
    text-align: left!important;
		margin-left:0!important;
		width:100%;
		
		padding-top: .15rem!important;
	  padding-bottom: .15rem!important;
		padding: .375rem .75rem;
	}