
body {
  -webkit-print-color-adjust:exact;
  max-width: 1600px;
  margin: auto;
  line-height: 1.3;
  page: main;
  counter-reset: page 1
}




li.list-group-item {
  padding: 5px 20px;
}

li.list-group-item:hover {
  background: #f6f6f6;
}

li.list-group-item > i, #btnPrint, #btnCollapseConfig {
  cursor: pointer;
}

.row-30under {
  background-color: #e6e6e670;
}


@media print {
  
  table {
    font-size: 80%!important;
  }
  
  table.size-40 {
    font-size: 40% !important;
  }
  
   #print_configs, .do-not-print, #btnPrint, #btnCollapseConfig, #collapseConfig, .dt-buttons {
    display: none!important;
  }
  
  @page {
    size: A4 landscape;
    margin: 4mm;
  }
  
  .is_30under {
    color:black;
  }
  
  table.dataTable.compact thead th, table.dataTable.compact thead td {
    padding: 0!important;
  }
  
  table.dataTable thead .sorting, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc {
    background-image: none;
  }
  
  
  
}

.material-icons {
  font-size: 11px!important;
}

.hide {
  display: none;
}

.limited-stock-row {
    font-weight: 500;
    font-size: 0.7em;
    font-style: oblique;
  color: orange;
}

