/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
  .container {
    max-width: 700px !important;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .container {
    max-width: 800px !important;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .container {
    max-width: 1000px !important;
  }
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  .container {
    max-width: 1700px !important;
  }
  
}