      .hide {
        display: none!important;
      }

      input[type='text'],
      input[type='password'] {
        width: 100%!important;
      }

      .table-heading,
      .table-body {
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
      }

      .table-heading {
        background: #bfac02 !important;
      }

      .table-body {
        background-color: #f5f5f5;
        color: black;
        border-top: 1px solid #000 !important;
      }